.container {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 150px;
}

.strength {
    align-self: flex-start;
    margin-top: 25px;
}

.variation {
    align-self: flex-start;
    margin-top: 80px;
}

h1 {
    font-size: large;
    padding-bottom: 20px;
}
