.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px; 
    margin-left: 120px;
    gap: 10px; 
}

.text-box {
    color: rgb(0, 0, 0);
    width: 450px;
    min-height: 150px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: vertical; 
}

.send-button {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: fit-content;
}

.send-button:hover {
    background-color: rgb(50, 50, 50);
}